.sample {
  height: 24px;
  position: relative;
  width: 81px;
}

.sample .text-wrapper {
  color: #000000;
  font-family: "Josefin Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}
